body {
    background-color: rgb(224, 224, 224);
    width: 100%;
    color: #444;
}

.header-title {
    font-size: 20px !important;
    color: #fff;

}
.demo-container {
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content:center;
    margin: 0 auto;
    width: 100%;
   
}
.child-container {
    margin:0 auto;
}

.child-container > div {
    padding-bottom: 20px;
}

h1 {
    padding-bottom: 20px !important;
    padding-top: 50px !important;
    color: #000 !important;
}

.header {
    background-color: #131313;
    width: 100%;
    height: 70px;
    margin-bottom:50px;
}
.title-style {
    color:#000;
    display:block;
    padding-bottom: 20px;
    margin: 0 auto;
    font-size: 20px !important;
    line-height: 0px !important;
}


.footer {
    background-color: #131313;
    width: 100%;
    height: 100px;
    margin-top:100px;
}


