@charset "utf-8";
/* CSS Document */

/* CSS reset */
* {
    margin: 0;
    padding: 0;
	position:absolute;
}
img{
	border:0;
}
body{
	cursor:pointer;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
#wrapper {
	width:160px;
	height:600px;
	overflow: hidden;
    border: 1px solid #404041;
 	box-sizing: border-box;
}
#bg1{
	width:160px;
	height:600px;
	background:url("../images/bg1.jpg") no-repeat;
}
#bg2{
	width:160px;
	height:600px;
	bottom: -600px;
	background:url("../images/bg2.png") no-repeat;
}
#copy1{
	width:160px;
	height:600px;
	opacity: 0;
	background:url(../images/copy1.png) no-repeat;
}
#copy2{
	width:160px;
	height:600px;
	opacity: 0;
	background:url(../images/copy2.png) no-repeat;
}
#copy3{
	width:160px;
	height:600px;
	right: -160px;
	background:url(../images/copy3.png) no-repeat;
}
#copy4{
	width:160px;
	height:600px;
	opacity: 0;
	background:url(../images/copy4.png) no-repeat;
}
#copy5{
	width:160px;
	height:600px;
	opacity: 0;
	background:url(../images/copy5.png) no-repeat;
}
#logo{
	width:160px;
	height:600px;
	background:url("../images/logo.png") no-repeat;
}
#logo2{
	width:160px;
	height:600px;
	opacity: 0;
	background:url("../images/logo2.png") no-repeat;
}
#img1{
	width:160px;
	height:600px;
	background:url("../images/img1.jpg") no-repeat;
}
#img2{
	width:160px;
	height:600px;
	opacity: 0;
	background:url("../images/img2.jpg") no-repeat;
}
#img3{
	width:160px;
	height:600px;
	opacity: 0;
	background:url("../images/img3.jpg") no-repeat;
}
#img4{
	width:160px;
	height:600px;
	opacity: 0;
	background:url("../images/img4.jpg") no-repeat;
}
#img5{
	width:160px;
	height:600px;
	opacity: 0;
	background:url("../images/img5.jpg") no-repeat;
}
#btl{
	width:160px;
	height:600px;
	right: -160px;
	background:url("../images/btl.png") no-repeat;
}
#cta{
	width:160px;
	height:600px;
	opacity: 0;
	background:url("../images/cta.png") no-repeat;
}
#man{
	width:160px;
	height:600px;
	right: -160px;
	background:url("../images/man.png") no-repeat;
}
#last{
	width:160px;
	height:600px;
	opacity: 0;
	background:url("../images/last.png") no-repeat;
}